.flexInit {
  display: flex;
  flex-wrap: wrap;
}
.flexCenterRow {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flexAroundRow {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.flexBetweenRow {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.flexEvenRow {
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.flexStartRow {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.flexCenterColumn {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flexStartColumn {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.flexEndColumn {
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.flexAroundColumn {
  flex-direction: column;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  box-shadow: rgba(21, 21, 21, 0.05) 6px 6px 6px;
  z-index: 100;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 900px) {
  nav {
    height: 60px;
  }
}
nav .logo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 80px;
}
nav .link-wrapper {
  display: none;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  min-width: 150px;
  box-sizing: border-box;
  padding: 8px;
}
@media screen and (min-width: 900px) {
  nav .link-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}
nav .drop-down {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 100%;
  cursor: pointer;
}
@media screen and (min-width: 900px) {
  nav .drop-down {
    display: none;
  }
}
nav .side-bar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 80px;
  height: 500%;
  transition: 0.425s;
  background-color: #9b9b9b;
  width: 100%;
}
nav .side-bar a {
  color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60px;
}
@media screen and (min-width: 600px) {
  nav .side-bar {
    width: 300px;
  }
}
@media screen and (min-width: 900px) {
  nav .side-bar {
    display: none;
  }
}
nav .active {
  text-decoration: underline;
}
nav.light {
  background-color: #efefef;
  color: #000000;
}
nav.light a {
  color: #151515;
}
nav.light .side-bar {
  background-color: #9b9b9b;
}
nav.light .side-bar a {
  color: white;
}
nav.dark {
  background-color: #151515;
  color: white;
}
nav.dark a {
  color: #d5d5d5;
}
nav.dark .side-bar {
  background-color: #444444;
}
nav.dark .side-bar a {
  color: #000000;
}
footer {
  width: 100%;
  background-color: #efefef;
  color: #000000;
  height: 200px;
  box-sizing: border-box;
  padding: 8px;
  position: absolute;
  bottom: 0;
}
footer.light {
  background-color: #efefef;
  color: #000000;
}
footer.dark {
  background-color: #151515;
  color: white;
}
* {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 16px;
}
#root {
  box-sizing: border-box;
  padding-top: 80px;
  min-height: 100vh;
  position: relative;
}
@media screen and (min-width: 900px) {
  #root {
    padding-top: 60px;
  }
}
#App {
  box-sizing: border-box;
  padding: 8px 0 0 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 200px;
  min-height: 100vh;
}
#App.light {
  background-color: #e1e1e1;
  color: #000000;
}
#App.dark {
  background-color: #1c1c1c;
  color: white;
}
a {
  text-decoration: none;
}
.button {
  height: 40px;
  min-width: 60px;
  max-width: 100px;
  box-sizing: border-box;
  padding: 4px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.125s;
}
.button.light {
  background-color: #9b9b9b;
  color: white;
}
.button.light:hover {
  background-color: #696969;
}
.button.dark {
  background-color: #444444;
  color: white;
}
.button.dark:hover {
  background-color: #797979;
}
.page-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.content-wrapper {
  max-width: 900px;
}
.list .items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.list .items .item {
  background-color: #efefef;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 8px;
  margin: 8px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
}
.list .items .item h1 {
  margin: 0;
}
@media screen and (min-width: 600px) {
  .list .items .item {
    width: 45%;
  }
}
.list .item-page {
  width: 100%;
}
.list .item-page .item-splash {
  width: 100%;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.list .item-page .item-navigation {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 80px;
}
@media screen and (min-width: 900px) {
  .list .item-page .item-navigation {
    height: 60px;
  }
}
.list .item-page .item-navigation a {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  transition: 0.125s;
}
.list .item-page .item-content {
  box-sizing: border-box;
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.list.light .item {
  background-color: #efefef;
  color: #000000;
  box-shadow: #cccccc 2px 2px 2px;
}
.list.light .item-navigation {
  background-color: #efefef;
  color: #000000;
}
.list.light .item-navigation a {
  color: #151515;
}
.list.light .item-navigation .active {
  background-color: #cccccc;
}
.list.dark .item {
  background-color: #151515;
  color: white;
  box-shadow: #262626 2px 2px 2px;
}
.list.dark .item-navigation {
  background-color: #151515;
  color: white;
}
.list.dark .item-navigation a {
  color: #d5d5d5;
}
.list.dark .item-navigation .active {
  background-color: #262626;
}
/*# sourceMappingURL=index.css.map */