.list{
  .pad(0 8px 8px 8px);
  .items{
    .flexInit();
    .flexStartRow();

    .item{
      background-color: @mainl;
      border-radius: 8px;
      .pad(8px);
      margin: 8px;
      .flexInit();
      .flexCenterRow();
      h1{
        margin: 0;
      }
      height: 200px;
      width: 100%;
      @media screen and(min-width: @mb1){
        width: 300px;
      }
      box-shadow: #9b9b9b 2px 2px 2px;
    }
  }
}